
.DS_Store
face_ios_app/FaceEditor/stylegan/stylegan2.pt
face_ios_app/FaceSite/pytorch/include_arm64
face_ios_app/FaceSite/pytorch/lib_arm64
face_ios_app/FaceSite/pytorch/include
face_ios_app/FaceSite/pytorch/libs
face_ios_app/FaceSite/pytorch/lib

.idea
web_server/checkpoints/best_model.pt
web_server/checkpoints/GPEN-512.pth
web_server/checkpoints/shape_predictor_68_face_landmarks.dat
web_server/checkpoints/stylegan2-ffhq-config-e2.pt
web_server/temp/
web_server/flask.log

