
.DS_Store
face_ios_app/FaceEditor/stylegan/stylegan2.pt
face_ios_app/FaceSite/pytorch/include_arm64
face_ios_app/FaceSite/pytorch/lib_arm64
face_ios_app/FaceSite/pytorch/include
face_ios_app/FaceSite/pytorch/libs

.idea
web_server/checkpoints/
web_server/temp/
web_server/flask.log
